PROJECT_NAME="COW health monitoring system"
VERSION="1.0.0"
DATABASE_URL="postgresql://user:password@hostname:5432/moosense_db"
CORS_ORIGINS=["http://localhost:5173","http://localhost:3000"]
MODEL_PATH="../cow_ml_models/trained_models/cow_health_xgboost_models.pkl"
PORT=8000
